body {
  margin: 0px;
}

.container {
  width: 1140px;
  margin: auto;
}

.header-page {
  background-image: url(img/header-background.jpg);
  background-size: cover;
}

.header-page .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.header-page .header-top .header-top__logo {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: bold;
}

.header-page .header-top .header-top__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-page .header-top .header-top__navigation .header-top__item {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.025em;
  font-weight: regular;
  list-style: none;
  padding-left: 30px;
}

.header-page .header-top .header-top__navigation a {
  text-decoration: none;
  color: #ffffff;
}

.header-page .header-top .header-top__navigation a:hover {
  color: #5bbcdaa1;
  text-decoration: underline;
}

.header-page .header-inner {
  padding-top: 200px;
  padding-bottom: 350px;
}

.header-page .header-inner .header-inner__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.header-page .header-inner .header-inner__subtitle {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: reguler;
  text-align: center;
  padding-bottom: 50px;
}

.header-page .header-inner .header-inner__button {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  background-color: transparent;
  padding: 10px 25px;
  text-transform: uppercase;
  border-color: #ffffff;
  outline: none;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header-page .header-inner .header-inner__button:hover {
  opacity: 0.5;
  background-color: #ffffff;
  color: red;
  font-weight: bold;
}

.services {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.services .services__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  position: relative;
}

.services .services__title::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #555555;
  width: 45px;
  left: 550px;
  padding-bottom: 40px;
}

.services .services__subtitle {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  padding-top: 10px;
}

.services .services-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .services-list .services-item {
  width: 33%;
  padding-top: 70px;
}

.services .services-list .services-item .code {
  width: 78px;
  height: 78px;
  background-color: transparent;
  border-radius: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #dddddd;
}

.services .services-list .services-item:first-of-type .fonts {
  width: 80px;
  height: 80px;
  background-color: #c0301c;
  border-radius: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services-list .services-item .services-item__title {
  font-family: "Monserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  text-transform: uppercase;
}

.services .services-list .services-item .services-item__description {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
}

.team {
  background-color: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 80px;
}

.team .team__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  position: relative;
}

.team .team__title::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #555555;
  width: 45px;
  left: 550px;
  padding-bottom: 40px;
}

.team .team__subtitle {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  margin-top: 25px;
}

.team .team-list__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.team .team-list__description .team-item__text {
  width: 49%;
}

.team .team-list__description .team-item__text .text-inner {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
}

.team .team-list__photo-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 70px;
}

.team .team-list__photo-cards .team-item__photo-cards {
  width: 22%;
}

.team .team-list__photo-cards .team-item__photo-cards .team-item__full-name {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  text-transform: uppercase;
}

.team .team-list__photo-cards .team-item__photo-cards .team-item__position {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
}

.team .team-list__photo-cards .team-item__photo-cards .team-item__photo:hover {
  opacity: 0.5;
}

.works {
  background-color: #ffffff;
  padding: 80px 0px;
}

.works .works-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  letter-spacing: 0;
  font-weight: regular;
  text-align: center;
  position: relative;
}

.works .works-title::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #555555;
  width: 45px;
  left: 550px;
  padding-bottom: 40px;
}

.works .works-search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.works .works-search__list .works-search__text {
  padding: 0px 20px;
}

.works .works-search__list .works-search__text:hover {
  color: #c0301c;
  cursor: pointer;
}

.works .works-photo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.works .works-photo__list .works-photo__item {
  width: 30%;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */