@mixin fonts($ff, $f, $l, $c, $s, $w)
    font-family: $ff, 'Arial', sans-serif
    font-size: $f
    line-height: $l
    color: $c
    letter-spacing: $s
    font-weight: $w

body
    margin: 0px

.container
    width: 1140px
    margin: auto

.header-page
    background-image: url(img/header-background.jpg)
    background-size: cover
    
    .header-top
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        padding-top: 20px
        
        .header-top__logo
            @include fonts('Montserrat', 24px, 36px, #ffffff, 0, bold)

        .header-top__navigation
            display: flex
            flex-wrap: wrap

            .header-top__item
                @include fonts('Montserrat', 14px, 24px, #ffffff, 0.025em, regular)
                list-style: none
                padding-left: 30px

            a
                text-decoration: none
                color: #ffffff

                &:hover
                    color: #5bbcdaa1  
                    text-decoration: underline

    .header-inner
        padding-top: 200px
        padding-bottom: 350px 

        .header-inner__title
            @include fonts("Montserrat", 40px, 50px, #ffffff, 0, bold)
            text-transform: uppercase
            text-align: center

        .header-inner__subtitle
            @include fonts("Montserrat", 18px, 24px, #ffffff, 0, reguler)
            text-align: center
            padding-bottom: 50px

        .header-inner__button
            @include fonts('Montserrat', 16px, 24px, #ffffff, 0, regular)
            text-align: center
            background-color: transparent
            padding: 10px 25px
            text-transform: uppercase
            border-color: #ffffff
            outline: none
            position: relative
            left: 50%
            transform: translate(-50%, 0)
            &:hover
                opacity: 0.5
                background-color: #ffffff
                color: red
                font-weight: bold

//main

.services
    background-color: #ffffff
    padding-top: 80px
    padding-bottom: 80px

    .services__title
        @include fonts('Montserrat', 20px, 24px, #555555, 0, regular)
        text-align: center
        position: relative
        
        &::after
            content: ""
            position: absolute
            border-bottom: 2px solid #555555
            width: 45px
            left: 550px
            padding-bottom: 40px

    .services__subtitle
        @include fonts('Roboto Slab', 16px, 24px, #555555, 0, regular)
        text-align: center
        padding-top: 10px

    .services-list
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        .services-item
            width: 33%
            padding-top: 70px

            .code
                    width: 78px
                    height: 78px
                    background-color: transparent
                    border-radius: 50%
                    margin: auto
                    display: flex
                    justify-content: center
                    align-items: center
                    border: solid 1px #dddddd

            &:first-of-type
                .fonts
                    width: 80px
                    height: 80px
                    background-color: #c0301c
                    border-radius: 50%
                    margin: auto
                    display: flex
                    justify-content: center
                    align-items: center

            .services-item__title
                @include fonts('Monserrat', 14px, 24px, #555555, 0, regular)
                text-align: center
                text-transform: uppercase

            .services-item__description
                @include fonts('Roboto Slab', 14px, 24px, #555555, 0, regular)
                text-align: center

//about-us

.team
    background-color: #f8f8f8
    padding-top: 80px
    padding-bottom: 80px

    .team__title
        @include fonts('Montserrat', 20px, 24px, #555555, 0, regular)
        text-align: center
        position: relative
        
        &::after
            content: ""
            position: absolute
            border-bottom: 2px solid #555555
            width: 45px
            left: 550px
            padding-bottom: 40px

    .team__subtitle
        @include fonts('Roboto Slab', 16px, 24px, #555555, 0, regular)
        text-align: center
        margin-top: 25px

    .team-list__description
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        list-style: none

        .team-item__text
            width: 49%

            .text-inner
                @include fonts("Roboto Slab", 14px, 24px, #555555, 0, regular)
            
    .team-list__photo-cards
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        list-style: none
        padding-top: 70px

        .team-item__photo-cards
            width: 22%

            .team-item__full-name
                @include fonts("Montserrat", 14px, 24px, #555555, 0, regular)
                text-align: center
                text-transform: uppercase

            .team-item__position
                @include fonts("Roboto Slab", 13px, 24px, #555555, 0, regular)
                text-align: center

            .team-item__photo
                &:hover
                    opacity: 0.5
        